body,
html {
  height: 100dvh;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}



@media print {

  /* Ocultar encabezados y navegación */
  header,
  .MuiAppBar-root,
  .MuiToolbar-root,
  nav,
  .MuiDrawer-root,
  .MuiDrawer-paper {
    display: none !important;
    visibility: hidden !important;
  }

  /* Mostrar solo el contenido principal */
  body>*:not(.print-container) {
    display: none !important;
  }

  /* Ajustes del área imprimible */
  .print-container {
    display: block !important;
    position: static !important;
    overflow: visible !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 15mm !important;
    background: white !important;
  }

  /* Márgenes y tamaño de página */
  @page {
    size: A4;
    margin: 10mm 12mm 10mm 12mm;

    @top-left {
      content: none;
    }

    @top-center {
      content: none;
    }

    @top-right {
      content: none;
    }

    @bottom-left {
      content: none;
    }

    @bottom-center {
      content: counter(page);
    }

    @bottom-right {
      content: none;
    }
  }
}
